/* BOILERPLATE */

html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-text;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  background-color: $color-background;
  color: $color-text;
}

h1 {
  margin-top: 0;
}

h2, h3, h4, h5, h6 {
  margin-top: 0em;
  margin-bottom: .5em;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  margin-top: 0;
  margin-bottom: .75em;
  line-height: 1.5;
}

a, a:visited, a:active {
  color: $color-link;
  text-decoration: none;
}

pre {
  display: block;
  padding: .75em;
  border-radius: .5em;
}

blockquote {
  display: block;
  margin: 1.25em 1em;
  padding: 0 1em;
  border-left: 2px solid $color-link;
  font-style: italic;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: .5em;
}

ul {
  padding-left: 1em;
  margin: 1em 0 .5em .5em;
  line-height: 1.5;
}
