.post {
  margin-bottom: 1.25em;
}

.tags {
  margin-bottom: .5em;
  &__link {
    margin-right: .5em;
    display: inline-block;
  }
}

.paragraph {
  &--summary {
    line-height: 1.5;
    margin-bottom: .75em;
  }
}

.list {
  margin: 1em 0;
  &--posts {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  &--tags {
    list-style: none;
    padding-left: 0;
  }
  &__item {
    margin-bottom: .75em;
  }
}
