/* VARIABLES */

/* Colors */
$color-text: rgb(48, 48, 48);
$color-background: rgb(255, 255, 255);
$color-link: rgb(38, 139, 210);
$color-tagline: rgb(112, 112, 112);
$color-divider: rgb(229, 229, 229);

/* Fonts */
$font-text: 'IBM Plex Sans', Helvetica, Arial, sans-serif;
$font-header-main: 'Bebas Neue', sans-serif;
$font-code: 'IBM Plex Mono', monospace;
